@import "src/scss/variables";
@import "src/scss/styles";
@import "src/scss/typography";

.dashboard {
  grid-column: 4/-1;
  background-color: $color-white;
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    display: block;
  }
  &__saledetails {
    color: $color-black;
    padding: 2rem;
    max-width: 30rem;
    // text-align: center;

    @media only screen and (max-width: $bp-small) {
      text-align: center;
    }

    &-heading {
      font-size: 2.3rem;
      font-weight: 600;
      margin-top: 2rem;
    }
    &-desc {
      font-size: 1.7rem;
      color: $color-red-dark;
    }

    &-link {
      display: block;
      font-size: 1.6rem;
      text-decoration: none;
      text-align: center;
      color: $color-white;
      background-color: $color-primary-light-1;
      border-radius: 10px;
      padding: 1rem 2rem;
      text-transform: uppercase;
      transition: all 0.5s;

      @media only screen and (max-width: $bp-small) {
        padding: 0.5rem 1rem;
      }
    }
    &-link:hover {
      background-color: $color-primary-dark;
    }
  }

  &__links {
    align-self: center;
    justify-content: end;
  }
  &__link {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-medium) {
      display: inline-block;
      padding: 0.5rem 1rem;
    }
  }
  &__link:hover {
    border-bottom: 2px solid $color-primary;
  }

  &__img {
    img {
      width: 100%;
    }
  }
}
