<div class="container">
  <div class="dashboard">
    <div class="dashboard__saledetails">
      <p class="dashboard__saledetails-heading">Dashboard</p>
      <span class="dashboard__saledetails-desc">Revenue of latest month</span>

      <p class="dashboard__saledetails-heading">Rs 13,8484</p>
      <span class="dashboard__saledetails-desc">Current month sale</span>
      <br /><br />

      <a class="dashboard__saledetails-link" href="">Last month Summary </a>
    </div>

    <div class="dashboard__links">
      <a class="dashboard__link" href="">Week</a>
      <a class="dashboard__link" href="">Month</a>
      <a class="dashboard__link" href="">Year</a>
    </div>
    <div class="dashboard__img">
      <img src="assets/img/graph.jpg" alt="graph" />
    </div>
  </div>
</div>
