<app-navigation *ngIf="router.url == '/'"></app-navigation>
<app-dashboard *ngIf="router.url == '/'"></app-dashboard>
<app-navigation *ngIf="router.url == '/orders'"></app-navigation>
<app-navigation *ngIf="router.url == '/revenue'"></app-navigation>
<app-navigation *ngIf="router.url == '/transaction'"></app-navigation>
<app-navigation *ngIf="router.url == '/managemenus'"></app-navigation>
<app-navigation *ngIf="router.url == '/editmenu'"></app-navigation>
<app-navigation *ngIf="router.url == '/addmenu'"></app-navigation>
<router-outlet></router-outlet>
