<section class="managemenu container">
  <h2 class="heading-2-menulist">Menu Lists</h2>
  <div class="managemenu__addnew">
    <span>
      <a class="managemenu__addnew-link" routerLink="/addmenu"> Add New</a>
    </span>
    <mat-icon class="managemenu__addnew-icon">post_add</mat-icon>
  </div>

  <table class="table">
    <thead>
      <tr>
        <td>#id</td>
        <td>Image</td>
        <td>Name</td>
        <td>Description</td>
        <td>Rate</td>
        <td>Type</td>
        <td colspan="2">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="#id">1</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Chicken Rice</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">200 /-</td>
        <td data-label="Type">dinner</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">2</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Roti Sabji</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">100 /-</td>
        <td data-label="Type">dinner</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">3</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Ema Datshi</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">70 /-</td>
        <td data-label="Type">dinner</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Shamoo Datshi</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">200 /-</td>
        <td data-label="Type">lunch</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">5</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Beef rice</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">250 /-</td>
        <td data-label="Type">dinner</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">6</td>
        <td data-label="Image">
          <img src="assets/img/food-1.jpg" alt="" class="img" />
        </td>
        <td data-label="Name">Fried Rice</td>
        <td data-label="Description">Lorem ipsum dolor sit amet consectetur</td>
        <td data-label="Rate">70 /-</td>
        <td data-label="Type">Breakfast</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#" routerLink="/editmenu">Edit....</a>
        </td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">Delete</a>
        </td>
      </tr>
      <!--  -->
    </tbody>
  </table>
</section>
