@import "src/scss/variables";
@import "src/scss/styles";
@import "src/scss/typography";
@import "src/scss/components";

.orders {
  padding: 0 4rem;
  grid-column: full-start / full-end;
  display: grid;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
  }
}
.table {
  @media only screen and (max-width: $bp-medium) {
    td:nth-child(7)::before {
      content: "type:";
    }
    td:nth-child(8)::before {
      content: "status:";
    }
    td:nth-child(9)::before {
      content: "Address:";
    }
    td:nth-child(10)::before {
      content: "Action:";
    }
  }
}
