<section class="orders container">
  <h2 class="heading-2-orders heading-2">Orders</h2>

  <table class="table">
    <thead>
      <tr>
        <td>#id</td>
        <td>items</td>
        <td>QTY</td>
        <td>rate</td>
        <td>cost</td>
        <td>date</td>
        <td>type</td>
        <td>status</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="#id">1</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">2</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>

      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="cost">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
