<section class="orders container">
  <h2 class="heading-2-orders heading-2">Orders</h2>

  <table class="table">
    <thead>
      <tr>
        <td>#id</td>
        <td>Company</td>
        <td>items</td>
        <td>QTY</td>
        <td>rate</td>
        <td>date</td>
        <td>type</td>
        <td>status</td>
        <td>Address</td>
        <td colspan="2">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="#id">1</td>
        <td data-label="Company">SELISE</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>
        <td class="action" data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">2</td>
        <td data-label="Company">L&T</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>

      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Edu Tech</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>
        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Rens Studio</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Dorola Limited</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Cocala</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Pepsi</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">ThangThong</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">MOE</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Shamoo</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Tshong</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">Tech Park</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
      <tr>
        <td data-label="#id">4</td>
        <td data-label="Company">ludo</td>
        <td data-label="items">Chicken rice</td>
        <td data-label="QTY">3 plate</td>
        <td data-label="rate">150</td>
        <td data-label="date">10/8/21</td>
        <td data-label="type">dinner</td>
        <td data-label="status">paid</td>
        <td data-label="address">7th main olakha</td>

        <td data-label="Action">
          <a class="tbl-btn" href="#">confirm</a>
          <a class="tbl-btn" href="#">cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
