<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item href="#" routerLink="/home">Home</a> -->
      <a mat-list-item href="#" routerLink="/orders"
        >Orders
        <mat-icon matBadge="3" matBadgeColor="warn">notifications</mat-icon></a
      >
      <a mat-list-item href="#" routerLink="/revenue">Transactions</a>
      <!-- <a mat-list-item href="#" routerLink="/home">Revenue</a> -->
      <a mat-list-item href="#" routerLink="/managemenus">Manage Menus</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>FOA</span>

      <div class="logout">
        <p class="logout__notification">
          Notifications
          <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
        </p>
        <a href="#" class="logout__link" routerLink="/">Log Out</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
