@import "src/scss/styles";
@import "src/scss/variables";
.heading-2 {
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  grid-column: 4/12;

  &-menulist {
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    color: $color-black;
    grid-column: 5/-1;
  }

  &-orders {
    grid-column: 5/12;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1/-1;
  }
}
