// COLOR VARIABLES //
$color-primary: #3f51b5;
$color-primary-light: #324191;
$color-primary-light-1: #7985cb;
$color-primary-light-2: #d9dcf0;
$color-primary-dark: #20295b;
$color-tertiary: #3c3f44;
$color-white: #ffff;
$color-white-light: #dee2e685;
$color-red: rgb(197, 22, 22);
$color-red-dark: #ee2828;
$color-black: #000;
$color-border: rgb(138, 123, 123);

// // RESPONSIVE BREAKPOINTS //
$bp-medium: 45em; //720px
$bp-small: 26.3em; //422px
